<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--  Bean to identify what Spring files have been loaded  -->
	<bean id="springconfigfile___applicationContext.xml" class="java.lang.String">
		<constructor-arg index="0" value= "springconfigfile___applicationContext.xml" />
	</bean>
	
	<bean id="systemProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="risktx.send.directory.poll">C:/dev/runtime/risktx/outbox</prop>
				<prop key="risktx.send.directory.processed">C:/dev/runtime/risktx/processed</prop>
				<prop key="risktx.receive.directory">C:/dev/runtime/risktx/inbox</prop>
			</props>
		</property>
	</bean>
</beans>